node_modules
.next
.turbo
dist
out
*.log
.git
.gitignore
.cache
.DS_Store
*.tsbuildinfo
coverage
.idea
.vscode
*.local
*.exe
.bun.lock
apps/be/storage
.git
.gitignore
node_modules
**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/coverage
**/.DS_Store
bun.lockb